.Asset {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 120px;
  }

#center-create-dogprofile-button {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.redIcon {
  color: red !important;
}
