.linksContainer {
  display: flex;
  justify-content: space-between;
}

.DogProfileImage {
    object-fit: cover;
    height: 120px;
    width: 120px;
    margin: 4px;
  }
  
  @media screen and (max-width: 991px) {
    .DogProfileImage {
      width: min(250px, 70vw);
      height: min(250px, 70vw);
    }

    .linksContainer,
    #linksContainer {
      flex-wrap: wrap;
      gap: 8px;
    }
  }

