.NavBar {
    background-color: #f8f8f8;
    padding-top: 0.1rem;
    padding-right: 1rem;
    padding-bottom: 0.1rem;
    padding-left: 1rem;
  }

  .NavLink {
    padding: 5px;
  }
  
  .Active i {
    color: #dddfe4;
  }