.App {
  text-align: center;
}

#ss-logo {
  height: 40vmin;
  pointer-events: none;

  background-image: url(https://res.cloudinary.com/dzhbg6go0/image/upload/v1670254218/CockapooClub/Dog-in-backseat-of-car_uhokml.webp);
	margin-left: auto;
	margin-right: auto;
	outline: solid;
	color: #3a3a3a;
	outline-color: #3a3a3a;
	width: 30vw;
  background-size: cover;
  background-position: center;

}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
